## Setup
This notebook contains the code to create a database in postgres and import flight data. In produciton, I normally would not use a Juypter notebook, but it makes it easy to present my code in this demo.

The first cell below contains all our necessary imports and loads our environment variables. Be sure to run the cells in order or press the run all button up top, otherwise you may get errors.

In [1]:
import os, datetime
from helpers import make_table
from DBConn import DBConn
from dotenv import load_dotenv
import pandas as pd
import numpy as np
from sqlalchemy.dialects.postgresql import DOUBLE_PRECISION, SMALLINT, BOOLEAN, VARCHAR, CHAR
from sqlalchemy import create_engine, event


PROJECT_ROOT = os.path.dirname(os.path.realpath("__file__")) #Change if needed, defaults to location of this file
print('Project Root:', PROJECT_ROOT)
# DATA_DIR = os.path.join(PROJECT_ROOT,'data') # modify as needed or move data to projec_root\data\ (which is in .gitignore)
DATA_DIR = 'C:\\Users\\Public\\data\\' # modify as needed or move data to projec_root\data\ (which is in .gitignore)
print('Data Directory:', DATA_DIR)
DATABASE_NAME = 'flight_data'
DBConn.set_database(DATABASE_NAME) # Name of database to create.

# store data paths for later use -- modify filenames if yours are different
FLIGHT_DATA_DIR = os.path.join(DATA_DIR, 'FlightDataUncompressed')
FLIGHT_DATA_FNAMES = os.listdir(FLIGHT_DATA_DIR)
FLIGHT_DATA_PATHS = []
for file_name in FLIGHT_DATA_FNAMES:
    FLIGHT_DATA_PATHS.append(os.path.join(FLIGHT_DATA_DIR, file_name))
AIRPORTS_PATH = os.path.join(DATA_DIR, 'airports.csv')
CARRIERS_PATH = os.path.join(DATA_DIR, 'carriers.csv')

# load enviornment variables storing database conneciton info
load_dotenv(PROJECT_ROOT)   #values can now be accessed using os.getenv(KEY_NAME)

Project Root: C:\Users\leifk\Documents\GitHub\FlightDataAnalysis
Data Directory: C:\Users\Public\data\

True

## EDA with Pandas -- determine structure of data for database schema

In [5]:
import chardet
def row_count(f):

    for i, l in enumerate(f):
        pass
    return i   

total_rows = 0
file_rows = dict()
for path_ in FLIGHT_DATA_PATHS:
    name = os.path.basename(path_)
    with open(path_,'rb') as file:
        if int(name.rstrip('.csv'))>=0:       
            file_rows[name] = row_count(file)
            total_rows += file_rows[name]
            print(f"{name}: {file_rows[name]}")
            # print(f'{name} chardet:')
            # print(chardet.detect(file.read(1000)))
print(f'total rows: {total_rows}')

1987.csv: 1311826
1988.csv: 5202096
1989.csv: 5041200
1990.csv: 5270893
1991.csv: 5076925
1992.csv: 5092157
1993.csv: 5070501
1994.csv: 5180048
1995.csv: 5327435
1996.csv: 5351983
1997.csv: 5411843
1998.csv: 5384721
1999.csv: 5527884
2000.csv: 5683047
2001.csv: 5967780
2002.csv: 5271359
2003.csv: 6488540
2004.csv: 7129270
2005.csv: 7140596
2006.csv: 7141922
2007.csv: 7453215
2008.csv: 7009728
total rows: 123534969

In [3]:
# ingest to pandas
airports_df = pd.read_csv(AIRPORTS_PATH) 
carriers_df = pd.read_csv(CARRIERS_PATH)
carriers_df = carriers_df.fillna('NA') ## Added after EDA, due to North American Airlines being interpreted as null

print(f'Found {len(FLIGHT_DATA_FNAMES)} years of flight data starting: from {FLIGHT_DATA_FNAMES[0].rstrip(".csv")} - {FLIGHT_DATA_FNAMES[-1].rstrip(".csv")}')
print(f'looking at {FLIGHT_DATA_FNAMES[0].rstrip(".csv")}')
flight_df = pd.read_csv(FLIGHT_DATA_PATHS[9], encoding='ascii')

def print_max_str_len(df:pd.DataFrame):
    """
    Print max length of string columns in pandas dataframe
    """
    index = 0
    for col_name, col in df.iteritems():
        try:
            print(index, col_name, 'str', col.str.len().max())
        except AttributeError:
            try:
                print(index, col_name, 'int/float', max(col.map(str).apply(len)))
            except AttributeError:
                #lazy way to print col length of strings and ints
                pass
        index += 1

Found 22 years of flight data starting: from 1987 - 2008
looking at 1987

In [9]:
## Airports Schema
# print(airports_df.head(5))
print(airports_df[airports_df['iata'].astype(str).str.contains('CBM')])
# print(airports_df.info())
# print_max_str_len(airports_df)

# print(airports_df.isnull().sum())

Empty DataFrame
Columns: [iata, airport, city, state, country, lat, long]
Index: []

In [ ]:
## Figure out Carriers Schema
## uncomment lines to see what steps I took.

# carriers_df.head()
# carriers_df.info()
# print_max_str_len(carriers_df)


# print('null values:')
# print(carriers_df.isnull().sum())
# ## looks like we have a null value
# carriers_df[carriers_df.Code.isnull()]
# ##and it's caused by North American being interpreted as NA.

In [ ]:
## Flights Schema

# flight_df.info()
# flight_df.UniqueCarrier.isnull().sum()
# print_max_str_len(flight_df)

In [20]:
## More on flights

# flight_df.UniqueCarrier[0]
flight_df.head() # uncomment to see first five rows. You'll also need to comment next line.
# print(flight_df.Diverted.value_counts())

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1996,1,29,1,2039.0,1930,2245.0,2139,DL,345,...,6,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1996,1,30,2,1931.0,1930,2142.0,2139,DL,345,...,5,22,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1996,1,31,3,1956.0,1930,2231.0,2139,DL,345,...,7,27,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1996,1,1,1,1730.0,1550,1909.0,1745,DL,411,...,4,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1996,1,2,2,1714.0,1550,1841.0,1745,DL,411,...,4,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN

Ok, so we've now looked at the columns in each dataset and can see that we'll need three tables relaations between:
- `flight.Origin`, `flight.Destination` to `airports.iata`
- `flight.UniqueCarrier` to `carrier.Code`

Now lets get the tables created in SQL:


### Create Flight Data Database
The database in the .env file is just an entry point. We are going to now create new database and load in our flight data.

#### Create database connection

In [ ]:
### Create Database


# Create database if it doesn't exist already
sql = f'''--sql
SELECT 'CREATE DATABASE {DATABASE_NAME}'
WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '{DATABASE_NAME}');
'''

conn = DBConn()
result = conn.exec(sql)
print("Database created successfully or already exists....")
DBConn.set_database(DATABASE_NAME)
conn.close()

## Create Tables

In [ ]:
## Create Airport Table
conn = DBConn()
print('accessing', conn.get_database())
sql = f'''--sql
--DROP TABLE flights;
--DROP TABLE carriers;
--DROP TABLE airports;

--sql --comment included for code highlighting in IDE
 CREATE TABLE IF NOT EXISTS carriers (
    "Code" VARCHAR(7) NOT NULL,
    "Description" VARCHAR(100),
    CONSTRAINT carriers_pkey PRIMARY KEY ("Code")
);

--sql 
CREATE TABLE IF NOT EXISTS airports (
    iata VARCHAR(4) NOT NULL,
    airport VARCHAR(50) NOT NULL,
    city VARCHAR(40),
    state CHAR(2),
    country VARCHAR(40) NOT NULL,
    lat DOUBLE PRECISION NOT NULL,
    long DOUBLE PRECISION NOT NULL,
    CONSTRAINT airport_pkey PRIMARY KEY (iata)
);

CREATE TABLE IF NOT EXISTS flights (
 "Year" SMALLINT NOT NULL,  
 "Month" SMALLINT NOT NULL,  
 "DayofMonth" SMALLINT NOT NULL,  
 "DayOfWeek" SMALLINT NOT NULL,  
 "DepTime" SMALLINT,
 "CRSDepTime" SMALLINT NOT NULL,  
 "ArrTime" SMALLINT,
 "CRSArrTime" SMALLINT NOT NULL,  
 "UniqueCarrier" VARCHAR(6) NOT NULL,
 "FlightNum" SMALLINT NOT NULL,  
 "ActualElapsedTime" SMALLINT,
 "CRSElapsedTime" SMALLINT,  
 "AirTime" SMALLINT,
 "ArrDelay" SMALLINT,
 "DepDelay" SMALLINT,
 "Origin" VARCHAR(3) NOT NULL, 
 "Dest" VARCHAR(3) NOT NULL, 
 "Distance" INTEGER,
 "TaxiIn" SMALLINT,
 "TaxiOut" SMALLINT,
 "Cancelled" BOOLEAN NOT NULL,  
 "CarrierDelay" SMALLINT,
 "WeatherDelay" SMALLINT,
 "NASDelay" SMALLINT,
 "SecurityDelay" SMALLINT,
 "LateAircraftDelay" SMALLINT,
 
 -- PRIMARY KEY ("Year", "Month", "DayofMonth", "UniqueCarrier", "CRSDepTime", "FlightNum", "Origin", "CRSArrTime"),

 CONSTRAINT origin_airport_fk
    FOREIGN KEY ("Origin")
    REFERENCES airports(iata)
    ON DELETE CASCADE,

 CONSTRAINT dest_airport_fk 
    FOREIGN KEY ("Dest")
    REFERENCES airports(iata)
    ON DELETE CASCADE,

 CONSTRAINT uniquecarrier_carriers_fk 
    FOREIGN KEY ("UniqueCarrier")
    REFERENCES carriers("Code")
    ON DELETE CASCADE

);
'''
conn.exec(sql)
print('create successful or already created')
conn.close()

## Load Data

### Airports and Carriers

In [ ]:
## load carriers into databse

load_carriers = False ## change to true to load
if load_carriers:
    engine = create_engine(
        f'postgresql://{os.getenv("DB_USER")}:{os.getenv("DB_PASS")}@{os.getenv("DB_HOST")}:{os.getenv("DB_PORT")}/{DATABASE_NAME}'
    )
    carriers_df.to_sql(
        'carriers', 
        engine, 
        if_exists='append', 
        index=False, 
        dtype={"Code":VARCHAR, "Description": VARCHAR})

In [ ]:
## Load Airports into database
load_airports = False ## change to true to load
if load_airports:
    engine = create_engine(
        f'postgresql://{os.getenv("DB_USER")}:{os.getenv("DB_PASS")}@{os.getenv("DB_HOST")}:{os.getenv("DB_PORT")}/{DATABASE_NAME}'
    )
    airports_df.to_sql(
        'airports', 
        engine, 
        if_exists='append', 
        index=False, 
        dtype={
            "iata": VARCHAR, 
            "airport": VARCHAR,
            "city": VARCHAR,
            "state": CHAR,
            "country": VARCHAR,
            "lat": DOUBLE_PRECISION(),
            "long": DOUBLE_PRECISION(),
            })

### Load Flight Data

In [2]:
## Load Flights into database
load_flights=False
if load_flights:
    engine = create_engine(
        f'postgresql://{os.getenv("DB_USER")}:{os.getenv("DB_PASS")}@{os.getenv("DB_HOST")}:{os.getenv("DB_PORT")}/{DATABASE_NAME}'
    )

    #speeds up bulk import
    @event.listens_for(engine, "before_cursor_execute")
    def receive_before_cursor_execute(con, cursor, statement, params, context, executemany):
        if executemany:
            cursor.fast_executemany=True

    for path_ in reversed(FLIGHT_DATA_PATHS):
        name = os.path.basename(path_)
        year = int(name.rstrip('.csv'))
        if year != 2008:
            print(f"skipping {name}")
            break
        print(f'uploading {name} at {datetime.datetime.now()}')


        for chunk_num, chunk in enumerate(pd.read_csv(
            path_, chunksize=20000,encoding='ascii',dtype={
                "Year": 'int16',  
                "Month": 'int8',  
                "DayofMonth": 'int8',  
                "DayOfWeek": 'int8',  
                "DepTime": 'float64',
                "CRSDepTime": 'int16',  
                "ArrTime": 'float64',
                "CRSArrTime": 'int16',  
                "UniqueCarrier": 'string',
                "FlightNum": 'int16',  
                "ActualElapsedTime": 'float64',
                "CRSElapsedTime": 'float64',  
                "AirTime": 'float64',
                "ArrDelay": 'float64',
                "DepDelay": 'float64',
                "Origin": 'string', 
                "Dest": 'string', 
                "Distance": 'float64',
                "TaxiIn": 'float64',
                "TaxiOut": 'float64',
                "Cancelled": 'int8',  
                "CarrierDelay": 'float64',
                "WeatherDelay": 'float64',
                "NASDelay": 'float64',
                "SecurityDelay": 'float64',
                "LateAircraftDelay": 'float64',
            })):
            # if year == 2004:
            #     if chunk_num<104:
            #         continue
            
            # if year == 2007:
            #     if chunk_num!=235:
            #         print(f'skipping chunk {chunk_num}')
            #         continue
            task_start = datetime.datetime.now()
            print(f'working on chunk {chunk_num} at {task_start}')
            chunk = chunk.drop(['TailNum','CancellationCode','Diverted'], axis=1)
            chunk.to_sql(
                'flights', 
                engine, 
                if_exists='append', 
                index=False,
                method="multi",
                dtype={
                    "Year": SMALLINT,  
                    "Month": SMALLINT,  
                    "DayofMonth": SMALLINT,  
                    "DayOfWeek": SMALLINT,  
                    "DepTime": SMALLINT,
                    "CRSDepTime": SMALLINT,  
                    "ArrTime": SMALLINT,
                    "CRSArrTime": SMALLINT,  
                    "UniqueCarrier": VARCHAR,
                    "FlightNum": SMALLINT,  
                    "ActualElapsedTime": SMALLINT,
                    "CRSElapsedTime": SMALLINT,  
                    "AirTime": SMALLINT,
                    "ArrDelay": SMALLINT,
                    "DepDelay": SMALLINT,
                    "Origin": VARCHAR, 
                    "Dest": VARCHAR, 
                    "Distance": SMALLINT,
                    "TaxiIn": SMALLINT,
                    "TaxiOut": SMALLINT,
                    "Cancelled": BOOLEAN,  
                    "CarrierDelay": SMALLINT,
                    "WeatherDelay": SMALLINT,
                    "NASDelay": SMALLINT,
                    "SecurityDelay": SMALLINT,
                    "LateAircraftDelay": SMALLINT,
                    })
        complete_in = datetime.datetime.now()-task_start
        print(f'complete in {complete_in.seconds} seconds')

uploading 2008.csv at 2022-01-22 18:14:28.884997
working on chunk 0 at 2022-01-22 18:14:28.925007
working on chunk 1 at 2022-01-22 18:14:37.040424
working on chunk 2 at 2022-01-22 18:14:44.529860
working on chunk 3 at 2022-01-22 18:14:52.424278
working on chunk 4 at 2022-01-22 18:15:00.081595
working on chunk 5 at 2022-01-22 18:15:07.639774
working on chunk 6 at 2022-01-22 18:15:15.387070
working on chunk 7 at 2022-01-22 18:15:23.318664
working on chunk 8 at 2022-01-22 18:15:31.277152
working on chunk 9 at 2022-01-22 18:15:39.084707
working on chunk 10 at 2022-01-22 18:15:46.760302
working on chunk 11 at 2022-01-22 18:15:54.777905
working on chunk 12 at 2022-01-22 18:16:02.624210
working on chunk 13 at 2022-01-22 18:16:10.346252
working on chunk 14 at 2022-01-22 18:16:18.409987
working on chunk 15 at 2022-01-22 18:16:26.362341
working on chunk 16 at 2022-01-22 18:16:34.151862
working on chunk 17 at 2022-01-22 18:16:41.979764
working on chunk 18 at 2022-01-22 18:16:49.914284
working on chunk 19 at 2022-01-22 18:16:57.473363
working on chunk 20 at 2022-01-22 18:17:05.347494
working on chunk 21 at 2022-01-22 18:17:13.250312
working on chunk 22 at 2022-01-22 18:17:20.931344
working on chunk 23 at 2022-01-22 18:17:28.846964
working on chunk 24 at 2022-01-22 18:17:36.703938
working on chunk 25 at 2022-01-22 18:17:44.519193
working on chunk 26 at 2022-01-22 18:17:52.447235
working on chunk 27 at 2022-01-22 18:18:00.285257
working on chunk 28 at 2022-01-22 18:18:07.900370
working on chunk 29 at 2022-01-22 18:18:15.767507
working on chunk 30 at 2022-01-22 18:18:23.598631
working on chunk 31 at 2022-01-22 18:18:31.503233
working on chunk 32 at 2022-01-22 18:18:39.623582
working on chunk 33 at 2022-01-22 18:18:47.464179
working on chunk 34 at 2022-01-22 18:18:55.116672
working on chunk 35 at 2022-01-22 18:19:03.119465
working on chunk 36 at 2022-01-22 18:19:11.090181
working on chunk 37 at 2022-01-22 18:19:18.890175
working on chunk 38 at 2022-01-22 18:19:26.935878
working on chunk 39 at 2022-01-22 18:19:34.863235
working on chunk 40 at 2022-01-22 18:19:42.543462
working on chunk 41 at 2022-01-22 18:19:50.374342
working on chunk 42 at 2022-01-22 18:19:58.234268
working on chunk 43 at 2022-01-22 18:20:05.894564
working on chunk 44 at 2022-01-22 18:20:13.717114
working on chunk 45 at 2022-01-22 18:20:21.577910
working on chunk 46 at 2022-01-22 18:20:29.208236
working on chunk 47 at 2022-01-22 18:20:37.089225
working on chunk 48 at 2022-01-22 18:20:44.971556
working on chunk 49 at 2022-01-22 18:20:52.591206
working on chunk 50 at 2022-01-22 18:21:00.450986
working on chunk 51 at 2022-01-22 18:21:08.274138
working on chunk 52 at 2022-01-22 18:21:15.923556
working on chunk 53 at 2022-01-22 18:21:23.767174
working on chunk 54 at 2022-01-22 18:21:31.616187
working on chunk 55 at 2022-01-22 18:21:39.319126
working on chunk 56 at 2022-01-22 18:21:47.219257
working on chunk 57 at 2022-01-22 18:21:55.219294
working on chunk 58 at 2022-01-22 18:22:03.126863
working on chunk 59 at 2022-01-22 18:22:10.944201
working on chunk 60 at 2022-01-22 18:22:18.772163
working on chunk 61 at 2022-01-22 18:22:26.372246
working on chunk 62 at 2022-01-22 18:22:34.407167
working on chunk 63 at 2022-01-22 18:22:42.242797
working on chunk 64 at 2022-01-22 18:22:49.935192
working on chunk 65 at 2022-01-22 18:22:57.795420
working on chunk 66 at 2022-01-22 18:23:05.600461
working on chunk 67 at 2022-01-22 18:23:13.265378
working on chunk 68 at 2022-01-22 18:23:21.138265
working on chunk 69 at 2022-01-22 18:23:28.948202
working on chunk 70 at 2022-01-22 18:23:36.602221
working on chunk 71 at 2022-01-22 18:23:44.582279
working on chunk 72 at 2022-01-22 18:23:52.513727
working on chunk 73 at 2022-01-22 18:24:00.211358
working on chunk 74 at 2022-01-22 18:24:08.085157
working on chunk 75 at 2022-01-22 18:24:15.941191
working on chunk 76 at 2022-01-22 18:24:23.629939
working on chunk 77 at 2022-01-22 18:24:31.532604
working on chunk 78 at 2022-01-22 18:24:39.367876
working on chunk 79 at 2022-01-22 18:24:47.042509
working on chunk 80 at 2022-01-22 18:24:54.842388
working on chunk 81 at 2022-01-22 18:25:02.718302
working on chunk 82 at 2022-01-22 18:25:10.417201
working on chunk 83 at 2022-01-22 18:25:18.334190
working on chunk 84 at 2022-01-22 18:25:26.217107
working on chunk 85 at 2022-01-22 18:25:34.011936
working on chunk 86 at 2022-01-22 18:25:41.940841
working on chunk 87 at 2022-01-22 18:25:49.788784
working on chunk 88 at 2022-01-22 18:25:57.401761
working on chunk 89 at 2022-01-22 18:26:05.290536
working on chunk 90 at 2022-01-22 18:26:13.173572
working on chunk 91 at 2022-01-22 18:26:20.779712
working on chunk 92 at 2022-01-22 18:26:28.589612
working on chunk 93 at 2022-01-22 18:26:36.389242
working on chunk 94 at 2022-01-22 18:26:44.129289
working on chunk 95 at 2022-01-22 18:26:51.927288
working on chunk 96 at 2022-01-22 18:26:59.818775
working on chunk 97 at 2022-01-22 18:27:07.465300
working on chunk 98 at 2022-01-22 18:27:15.340471
working on chunk 99 at 2022-01-22 18:27:23.176312
working on chunk 100 at 2022-01-22 18:27:30.759019
working on chunk 101 at 2022-01-22 18:27:38.576674
working on chunk 102 at 2022-01-22 18:27:46.460813
working on chunk 103 at 2022-01-22 18:27:54.106561
working on chunk 104 at 2022-01-22 18:28:01.949051
working on chunk 105 at 2022-01-22 18:28:09.778112
working on chunk 106 at 2022-01-22 18:28:17.514765
working on chunk 107 at 2022-01-22 18:28:25.400685
working on chunk 108 at 2022-01-22 18:28:33.333336
working on chunk 109 at 2022-01-22 18:28:40.998124
working on chunk 110 at 2022-01-22 18:28:48.849282
working on chunk 111 at 2022-01-22 18:28:56.650355
working on chunk 112 at 2022-01-22 18:29:04.300107
working on chunk 113 at 2022-01-22 18:29:12.138672
working on chunk 114 at 2022-01-22 18:29:20.041480
working on chunk 115 at 2022-01-22 18:29:27.709985
working on chunk 116 at 2022-01-22 18:29:35.635483
working on chunk 117 at 2022-01-22 18:29:43.126544
working on chunk 118 at 2022-01-22 18:29:50.415053
working on chunk 119 at 2022-01-22 18:29:57.878476
working on chunk 120 at 2022-01-22 18:30:05.325291
working on chunk 121 at 2022-01-22 18:30:12.530592
working on chunk 122 at 2022-01-22 18:30:19.970440
working on chunk 123 at 2022-01-22 18:30:27.339451
working on chunk 124 at 2022-01-22 18:30:34.528912
working on chunk 125 at 2022-01-22 18:30:41.879389
working on chunk 126 at 2022-01-22 18:30:49.296007
working on chunk 127 at 2022-01-22 18:30:56.516959
working on chunk 128 at 2022-01-22 18:31:03.962433
working on chunk 129 at 2022-01-22 18:31:11.341864
working on chunk 130 at 2022-01-22 18:31:18.581986
working on chunk 131 at 2022-01-22 18:31:26.055961
working on chunk 132 at 2022-01-22 18:31:33.460355
working on chunk 133 at 2022-01-22 18:31:40.803745
working on chunk 134 at 2022-01-22 18:31:48.182789
working on chunk 135 at 2022-01-22 18:31:55.599333
working on chunk 136 at 2022-01-22 18:32:02.828237
working on chunk 137 at 2022-01-22 18:32:10.174365
working on chunk 138 at 2022-01-22 18:32:17.557385
working on chunk 139 at 2022-01-22 18:32:24.732642
working on chunk 140 at 2022-01-22 18:32:32.117747
working on chunk 141 at 2022-01-22 18:32:39.500291
working on chunk 142 at 2022-01-22 18:32:46.655318
working on chunk 143 at 2022-01-22 18:32:54.036831
working on chunk 144 at 2022-01-22 18:33:01.445587
working on chunk 145 at 2022-01-22 18:33:08.680616
working on chunk 146 at 2022-01-22 18:33:16.079190
working on chunk 147 at 2022-01-22 18:33:23.585199
working on chunk 148 at 2022-01-22 18:33:30.914333
working on chunk 149 at 2022-01-22 18:33:38.282931
working on chunk 150 at 2022-01-22 18:33:45.730463
working on chunk 151 at 2022-01-22 18:33:53.052918
working on chunk 152 at 2022-01-22 18:34:00.542843
working on chunk 153 at 2022-01-22 18:34:08.016907
working on chunk 154 at 2022-01-22 18:34:15.292446
working on chunk 155 at 2022-01-22 18:34:22.680369
working on chunk 156 at 2022-01-22 18:34:30.255546
working on chunk 157 at 2022-01-22 18:34:37.645275
working on chunk 158 at 2022-01-22 18:34:45.109419
working on chunk 159 at 2022-01-22 18:34:52.459260
working on chunk 160 at 2022-01-22 18:34:59.656743
working on chunk 161 at 2022-01-22 18:35:07.071850
working on chunk 162 at 2022-01-22 18:35:14.480683
working on chunk 163 at 2022-01-22 18:35:21.650355
working on chunk 164 at 2022-01-22 18:35:29.061715
working on chunk 165 at 2022-01-22 18:35:36.527395
working on chunk 166 at 2022-01-22 18:35:43.749165
working on chunk 167 at 2022-01-22 18:35:51.210632
working on chunk 168 at 2022-01-22 18:35:58.658276
working on chunk 169 at 2022-01-22 18:36:05.801074
working on chunk 170 at 2022-01-22 18:36:13.242385
working on chunk 171 at 2022-01-22 18:36:20.705482
working on chunk 172 at 2022-01-22 18:36:27.945748
working on chunk 173 at 2022-01-22 18:36:35.413877
working on chunk 174 at 2022-01-22 18:36:42.865349
working on chunk 175 at 2022-01-22 18:36:50.077352
working on chunk 176 at 2022-01-22 18:36:57.523614
working on chunk 177 at 2022-01-22 18:37:04.957634
working on chunk 178 at 2022-01-22 18:37:12.205527
working on chunk 179 at 2022-01-22 18:37:19.769686
working on chunk 180 at 2022-01-22 18:37:27.198736
working on chunk 181 at 2022-01-22 18:37:34.401016
working on chunk 182 at 2022-01-22 18:37:41.961635
working on chunk 183 at 2022-01-22 18:37:49.321863
working on chunk 184 at 2022-01-22 18:37:56.494431
working on chunk 185 at 2022-01-22 18:38:03.818508
working on chunk 186 at 2022-01-22 18:38:11.167579
working on chunk 187 at 2022-01-22 18:38:18.372406
working on chunk 188 at 2022-01-22 18:38:25.802644
working on chunk 189 at 2022-01-22 18:38:33.158109
working on chunk 190 at 2022-01-22 18:38:40.393925
working on chunk 191 at 2022-01-22 18:38:47.815498
working on chunk 192 at 2022-01-22 18:38:55.217316
working on chunk 193 at 2022-01-22 18:39:02.466992
working on chunk 194 at 2022-01-22 18:39:09.896781
working on chunk 195 at 2022-01-22 18:39:17.315697
working on chunk 196 at 2022-01-22 18:39:24.527955
working on chunk 197 at 2022-01-22 18:39:31.990918
working on chunk 198 at 2022-01-22 18:39:39.440418
working on chunk 199 at 2022-01-22 18:39:46.658428
working on chunk 200 at 2022-01-22 18:39:54.099146
working on chunk 201 at 2022-01-22 18:40:01.501890
working on chunk 202 at 2022-01-22 18:40:08.702747
working on chunk 203 at 2022-01-22 18:40:16.158455
working on chunk 204 at 2022-01-22 18:40:23.585440
working on chunk 205 at 2022-01-22 18:40:30.813048
working on chunk 206 at 2022-01-22 18:40:38.280609
working on chunk 207 at 2022-01-22 18:40:45.851871
working on chunk 208 at 2022-01-22 18:40:53.060739
working on chunk 209 at 2022-01-22 18:41:00.483069
working on chunk 210 at 2022-01-22 18:41:08.004313
working on chunk 211 at 2022-01-22 18:41:15.239209
working on chunk 212 at 2022-01-22 18:41:22.602697
working on chunk 213 at 2022-01-22 18:41:30.057635
working on chunk 214 at 2022-01-22 18:41:37.254589
working on chunk 215 at 2022-01-22 18:41:44.607659
working on chunk 216 at 2022-01-22 18:41:52.061533
working on chunk 217 at 2022-01-22 18:41:59.411078
working on chunk 218 at 2022-01-22 18:42:06.846230
working on chunk 219 at 2022-01-22 18:42:14.202657
working on chunk 220 at 2022-01-22 18:42:21.493779
working on chunk 221 at 2022-01-22 18:42:29.156120
working on chunk 222 at 2022-01-22 18:42:36.559689
working on chunk 223 at 2022-01-22 18:42:43.774381
working on chunk 224 at 2022-01-22 18:42:51.178191
working on chunk 225 at 2022-01-22 18:42:58.603299
working on chunk 226 at 2022-01-22 18:43:05.839539
working on chunk 227 at 2022-01-22 18:43:13.213268
working on chunk 228 at 2022-01-22 18:43:20.624990
working on chunk 229 at 2022-01-22 18:43:27.853314
working on chunk 230 at 2022-01-22 18:43:35.342979
working on chunk 231 at 2022-01-22 18:43:42.834812
working on chunk 232 at 2022-01-22 18:43:50.068678
working on chunk 233 at 2022-01-22 18:43:57.482096
working on chunk 234 at 2022-01-22 18:44:04.923071
working on chunk 235 at 2022-01-22 18:44:12.203094
working on chunk 236 at 2022-01-22 18:44:19.599054
working on chunk 237 at 2022-01-22 18:44:26.990115
working on chunk 238 at 2022-01-22 18:44:34.378860
working on chunk 239 at 2022-01-22 18:44:41.836940
working on chunk 240 at 2022-01-22 18:44:49.283996
working on chunk 241 at 2022-01-22 18:44:56.467391
working on chunk 242 at 2022-01-22 18:45:03.938718
working on chunk 243 at 2022-01-22 18:45:11.315826
working on chunk 244 at 2022-01-22 18:45:18.506187
working on chunk 245 at 2022-01-22 18:45:25.901310
working on chunk 246 at 2022-01-22 18:45:33.264880
working on chunk 247 at 2022-01-22 18:45:40.528174
working on chunk 248 at 2022-01-22 18:45:47.888698
working on chunk 249 at 2022-01-22 18:45:55.237037
working on chunk 250 at 2022-01-22 18:46:02.461546
working on chunk 251 at 2022-01-22 18:46:09.840398
working on chunk 252 at 2022-01-22 18:46:17.213029
working on chunk 253 at 2022-01-22 18:46:24.392280
working on chunk 254 at 2022-01-22 18:46:31.897276
working on chunk 255 at 2022-01-22 18:46:39.297163
working on chunk 256 at 2022-01-22 18:46:46.590963
working on chunk 257 at 2022-01-22 18:46:54.001033
working on chunk 258 at 2022-01-22 18:47:01.322404
working on chunk 259 at 2022-01-22 18:47:08.561531
working on chunk 260 at 2022-01-22 18:47:15.975071
working on chunk 261 at 2022-01-22 18:47:23.370181
working on chunk 262 at 2022-01-22 18:47:30.586022
working on chunk 263 at 2022-01-22 18:47:37.966277
working on chunk 264 at 2022-01-22 18:47:45.417026
working on chunk 265 at 2022-01-22 18:47:52.558979
working on chunk 266 at 2022-01-22 18:48:00.024125
working on chunk 267 at 2022-01-22 18:48:07.514332
working on chunk 268 at 2022-01-22 18:48:14.653663
working on chunk 269 at 2022-01-22 18:48:22.079872
working on chunk 270 at 2022-01-22 18:48:29.384579
working on chunk 271 at 2022-01-22 18:48:36.624786
working on chunk 272 at 2022-01-22 18:48:43.943989
working on chunk 273 at 2022-01-22 18:48:51.326639
working on chunk 274 at 2022-01-22 18:48:58.508853
working on chunk 275 at 2022-01-22 18:49:05.909649
working on chunk 276 at 2022-01-22 18:49:13.295811
working on chunk 277 at 2022-01-22 18:49:20.532353
working on chunk 278 at 2022-01-22 18:49:27.915634
working on chunk 279 at 2022-01-22 18:49:35.310654
working on chunk 280 at 2022-01-22 18:49:42.526293
working on chunk 281 at 2022-01-22 18:49:50.436878
working on chunk 282 at 2022-01-22 18:49:57.785078
working on chunk 283 at 2022-01-22 18:50:05.074015
working on chunk 284 at 2022-01-22 18:50:12.478785
working on chunk 285 at 2022-01-22 18:50:19.887155
working on chunk 286 at 2022-01-22 18:50:27.184555
working on chunk 287 at 2022-01-22 18:50:34.825771
working on chunk 288 at 2022-01-22 18:50:42.215066
working on chunk 289 at 2022-01-22 18:50:49.465953
working on chunk 290 at 2022-01-22 18:50:56.894315
working on chunk 291 at 2022-01-22 18:51:04.366895
working on chunk 292 at 2022-01-22 18:51:11.618655
working on chunk 293 at 2022-01-22 18:51:18.989514
working on chunk 294 at 2022-01-22 18:51:26.418092
working on chunk 295 at 2022-01-22 18:51:33.660234
working on chunk 296 at 2022-01-22 18:51:41.084204
working on chunk 297 at 2022-01-22 18:51:48.452460
working on chunk 298 at 2022-01-22 18:51:55.684708
working on chunk 299 at 2022-01-22 18:52:03.033285
working on chunk 300 at 2022-01-22 18:52:10.383251
working on chunk 301 at 2022-01-22 18:52:17.630174
working on chunk 302 at 2022-01-22 18:52:25.029761
working on chunk 303 at 2022-01-22 18:52:32.371062
working on chunk 304 at 2022-01-22 18:52:39.619913
working on chunk 305 at 2022-01-22 18:52:47.134642
working on chunk 306 at 2022-01-22 18:52:54.629449
working on chunk 307 at 2022-01-22 18:53:01.870281
working on chunk 308 at 2022-01-22 18:53:09.290112
working on chunk 309 at 2022-01-22 18:53:16.723040
working on chunk 310 at 2022-01-22 18:53:23.924908
working on chunk 311 at 2022-01-22 18:53:31.324678
working on chunk 312 at 2022-01-22 18:53:38.770313
working on chunk 313 at 2022-01-22 18:53:46.015461
working on chunk 314 at 2022-01-22 18:53:53.422089
working on chunk 315 at 2022-01-22 18:54:00.836506
working on chunk 316 at 2022-01-22 18:54:08.245750
working on chunk 317 at 2022-01-22 18:54:15.587610
working on chunk 318 at 2022-01-22 18:54:22.995124
working on chunk 319 at 2022-01-22 18:54:30.183832
working on chunk 320 at 2022-01-22 18:54:37.858350
working on chunk 321 at 2022-01-22 18:54:45.285029
working on chunk 322 at 2022-01-22 18:54:52.537878
working on chunk 323 at 2022-01-22 18:54:59.991437
working on chunk 324 at 2022-01-22 18:55:07.442910
working on chunk 325 at 2022-01-22 18:55:14.634136
working on chunk 326 at 2022-01-22 18:55:22.097151
working on chunk 327 at 2022-01-22 18:55:29.485574
working on chunk 328 at 2022-01-22 18:55:36.736150
working on chunk 329 at 2022-01-22 18:55:44.207402
working on chunk 330 at 2022-01-22 18:55:51.784599
working on chunk 331 at 2022-01-22 18:55:59.057837
working on chunk 332 at 2022-01-22 18:56:06.560771
working on chunk 333 at 2022-01-22 18:56:14.023695
working on chunk 334 at 2022-01-22 18:56:21.239754
working on chunk 335 at 2022-01-22 18:56:29.139535
working on chunk 336 at 2022-01-22 18:56:36.552319
working on chunk 337 at 2022-01-22 18:56:44.160067
working on chunk 338 at 2022-01-22 18:56:51.615069
working on chunk 339 at 2022-01-22 18:56:59.086262
working on chunk 340 at 2022-01-22 18:57:06.423495
working on chunk 341 at 2022-01-22 18:57:13.920149
working on chunk 342 at 2022-01-22 18:57:21.361258
working on chunk 343 at 2022-01-22 18:57:28.600077
working on chunk 344 at 2022-01-22 18:57:36.064078
working on chunk 345 at 2022-01-22 18:57:43.494547
working on chunk 346 at 2022-01-22 18:57:50.734282
working on chunk 347 at 2022-01-22 18:57:58.154182
working on chunk 348 at 2022-01-22 18:58:05.800610
working on chunk 349 at 2022-01-22 18:58:13.074074
working on chunk 350 at 2022-01-22 18:58:20.629530
complete in 3 seconds
skipping 2007.csv

## Problem Set

##### Problem 1:	What percentage of flights were canceled each year from 1999 to 2003?

In [3]:
conn = DBConn()
q = """
--sql
SELECT 
    count_cancelled,
    total,
    (count_cancelled/total::FLOAT)*100 perc_cancelled
FROM (
    SELECT 
        Count(*) total, 
        SUM(CASE WHEN "Cancelled" THEN 1 ELSE 0 END) count_cancelled
    FROM flights
    WHERE "Year" >= 1999 AND "Year" <= 2003
) x;
"""
ans_1 = conn.exec(q)
conn.close()
print(make_table(['Cancelled Flights','Total Flights', 'Percent Cancelled'], ans_1))

connection opened ...
{0: 17, 1: 13, 2: 17}
| Cancelled Flights | Total Flights | Percent Cancelled |
| ----------------- | ------------- | ----------------- |
| 739611            | 28938610      | 2.55579310823844  |

... connection closed.

| Cancelled Flights | Total Flights | Percent Cancelled |
| ----------------- | ------------- | ----------------- |
| 739611            | 28938610      | 2.55579310823844  |

##### Problem 2: On which day of the week in 2007 were you most likely to arrive on time flying from MCO to IAH

In [9]:
conn = DBConn()
q = """
--sql
SELECT
	"DayOfWeek",
	on_time_count,
	total_flights,
	(on_time_count/total_flights::FLOAT)*100 percent_ontime
FROM
(SELECT 
	"DayOfWeek",
	SUM(CASE WHEN "CRSArrTime" <= "ArrTime" THEN 1 ELSE 0 END) on_time_count,
	COUNT(*) total_flights
FROM flights
WHERE "Year" = 2007 AND "Origin" = 'MCO' AND "Dest" = 'IAH'
GROUP BY "DayOfWeek"
) x;
"""
ans_2 = conn.exec(q)
titles = ['Week Day', 'On Time Flights', 'Total Flights', 'Percent On Time']
print(make_table(titles, ans_2))
conn.close()

connection opened ...
{0: 8, 1: 15, 2: 13, 3: 16}
| Week Day | On Time Flights | Total Flights | Percent On Time  |
| -------- | --------------- | ------------- | ---------------- |
| 1        | 134             | 377           | 35.5437665782493 |
| 2        | 130             | 346           | 37.5722543352601 |
| 3        | 161             | 351           | 45.8689458689459 |
| 4        | 184             | 390           | 47.1794871794872 |
| 5        | 175             | 398           | 43.9698492462312 |
| 6        | 140             | 377           | 37.1352785145889 |
| 7        | 152             | 405           | 37.5308641975309 |

... connection closed.

|Week Day   | On Time Flights   | Total Flights | Percentage On time   |
|-----------|-------------------|---------------|----------------------|
|1 (Mon)    |134	            | 377       	| 35.5437665782493     |
|2 (Tue)    |130	            | 346       	| 37.5722543352601     |
|3 (Wed)    |161	            | 351       	| 45.8689458689459     |
|**4 (Thu)**|**184**	        | **390**      	| **47.1794871794872** |
|5 (Fri)    |175	            | 398       	| 43.9698492462312     |
|6 (Sat)    |140	            | 377       	| 37.1352785145889     |
|7 (sun)    |152	            | 405       	| 37.5308641975309     |

##### Problem 3.	Which 10 flights (airline, flight number, origin city, destination city, and date) had the latest actual vs. scheduled arrival in 2004?

In [30]:
conn = DBConn()
q = """
--sql
SELECT
	c."Description" AS "Airline",
	"FlightNum" AS "Flight Number",
	oa.city AS "Origin City",
	da.city AS "Dest City",
	"ArrTime" AS "Arrival Time",
	"CRSArrTime" AS "Scheduled Arrival",
	-- CASE WHEN "ArrTime"-"CRSArrTime" < 0 --Catch when flights go into the next day
	--	THEN 2400 - "CRSArrTime" + "ArrTime"
	--	ELSE "ArrTime"-"CRSArrTime"
	--	END AS "Late By"
	"ArrDelay" as "Arrival Delay",
	CONCAT("DayofMonth",'/',"Month",'/',"Year") AS "Date"
FROM flights
INNER JOIN carriers AS C
ON flights."UniqueCarrier" = c."Code"
INNER JOIN airports as da
ON flights."Dest" = da.iata
INNER JOIN airports as oa
ON flights."Origin" = oa.iata
WHERE "Year" = 2007 AND
	"ArrDelay" > 0 AND
	"ArrTime" IS NOT NULL AND 
	"CRSArrTime" IS NOT NULL
ORDER BY "ArrDelay"
LIMIT 10
;
"""
ans_3 = conn.exec(q)
titles = ["Airline","Flight Number", "Origin City", "Dest City","Arrival Time","Scheduled Arrival","Date","Arrival Delay"]
print(make_table(titles,ans_3))
conn.close()

connection opened ...
{0: 22, 1: 13, 2: 13, 3: 13, 4: 12, 5: 17, 6: 4, 7: 13}
| Airline                | Flight Number | Origin City   | Dest City     | Arrival Time | Scheduled Arrival | Date | Arrival Delay |
| ---------------------- | ------------- | ------------- | ------------- | ------------ | ----------------- | ---- | ------------- |
| Southwest Airlines Co. | 2705          | Birmingham    | Houston       | 1326         | 1325              | 1    | 2/1/2007      |
| Southwest Airlines Co. | 680           | Nashville     | Columbus      | 2156         | 2155              | 1    | 2/1/2007      |
| Southwest Airlines Co. | 1603          | Windsor Locks | Baltimore     | 1656         | 1655              | 1    | 2/1/2007      |
| Southwest Airlines Co. | 2774          | Albuquerque   | Phoenix       | 846          | 845               | 1    | 2/1/2007      |
| Southwest Airlines Co. | 1342          | Amarillo      | Dallas        | 1431         | 1430              | 1    | 2/1/2007      |
| Southwest Airlines Co. | 123           | Nashville     | Windsor Locks | 1746         | 1745              | 1    | 2/1/2007      |
| Southwest Airlines Co. | 219           | Austin        | El Paso       | 751          | 750               | 1    | 2/1/2007      |
| Southwest Airlines Co. | 939           | St Louis      | Dallas        | 2036         | 2035              | 1    | 1/1/2007      |
| Southwest Airlines Co. | 812           | Santa Ana     | Sacramento    | 1906         | 1905              | 1    | 1/1/2007      |
| Southwest Airlines Co. | 1296          | Nashville     | Jacksonville  | 2236         | 2235              | 1    | 2/1/2007      |

... connection closed.

| Airline                    | Flight Number | Origin City | Dest City | Arrival Time | Scheduled Arrival | Late By | Date       |
| -------------------------- | ------------- | ----------- | --------- | ------------ | ----------------- | ------- | ---------- |
| Continental Air Lines Inc. | 687           | Orlando     | Houston   | 2341         | 1636              | 705     | 22/5/2007  |
| Continental Air Lines Inc. | 1687          | Orlando     | Houston   | 2358         | 1918              | 440     | 28/5/2007  |
| Continental Air Lines Inc. | 1473          | Orlando     | Houston   | 1930         | 1509              | 421     | 26/12/2007 |
| Continental Air Lines Inc. | 1687          | Orlando     | Houston   | 2349         | 1944              | 405     | 3/1/2007   |
| Continental Air Lines Inc. | 1007          | Orlando     | Houston   | 137          | 2139              | 398     | 15/6/2007  |
| Continental Air Lines Inc. | 1007          | Orlando     | Houston   | 128          | 2139              | 389     | 3/9/2007   |
| Continental Air Lines Inc. | 1007          | Orlando     | Houston   | 121          | 2139              | 382     | 16/8/2007  |
| Continental Air Lines Inc. | 1872          | Orlando     | Houston   | 1821         | 1454              | 367     | 16/8/2007  |
| Continental Air Lines Inc. | 1487          | Orlando     | Houston   | 1631         | 1317              | 314     | 29/7/2007  |
| Continental Air Lines Inc. | 687           | Orlando     | Houston   | 1943         | 1642              | 301     | 14/3/2007  |

##### Problem 4.	For each year from 1987 to 2008, which airline made the trip between ORD and LAX the fastest (on average)? ***************

In [53]:
conn = DBConn()
q = """
--sql
WITH sub as (SELECT 
		"Year",
		"UniqueCarrier",
		AVG("ActualElapsedTime") AS avg_time
	FROM flights
	WHERE "Origin" = 'ORD' AND "Dest" = 'LAX'
	GROUP BY "Year", "UniqueCarrier"
	)

SELECT
	"Year",
	c."Description" AS "Airline",
	avg_time AS "Avg. Trip Time"
FROM sub
INNER JOIN carriers c
ON sub."UniqueCarrier" = c."Code"
WHERE "UniqueCarrier" IN (
	SELECT "UniqueCarrier"
	FROM sub
	ORDER BY avg_time LIMIT 1
)
GROUP BY "Year"
 ;
"""
a = """
	SELECT 
		"Year",
		"UniqueCarrier",
		AVG("ActualElapsedTime") AS avg_time
	FROM flights
	WHERE "Origin" = 'ORD' AND "Dest" = 'LAX'
	GROUP BY "Year";
"""
ans_4 = conn.exec(q)
titles = ["Year","Airline","Trip Time"]
print(make_table(titles,ans_4))
conn.close()

connection opened ...

GroupingError: column "c.Description" must appear in the GROUP BY clause or be used in an aggregate function
LINE 14:  c."Description" AS "Airline",
          ^

In [48]:
print(ans_4)

[(1987, 'American Airlines Inc.', Decimal('256.3271428571428571')), (1987, 'United Air Lines Inc.', Decimal('250.2101382488479263')), (1988, 'American Airlines Inc.', Decimal('246.7750724637681159')), (1988, 'United Air Lines Inc.', Decimal('247.5877598152424942')), (1989, 'American Airlines Inc.', Decimal('250.5437788018433180')), (1989, 'United Air Lines Inc.', Decimal('255.4851043865822191')), (1990, 'American Airlines Inc.', Decimal('253.6859344894026975')), (1990, 'United Air Lines Inc.', Decimal('254.0619114877589454')), (1991, 'American Airlines Inc.', Decimal('251.6377611351990540')), (1991, 'United Air Lines Inc.', Decimal('252.0872546701347836')), (1992, 'American Airlines Inc.', Decimal('248.0202058711399161')), (1992, 'United Air Lines Inc.', Decimal('249.5003646973012400')), (1993, 'American Airlines Inc.', Decimal('249.9389885807504078')), (1993, 'United Air Lines Inc.', Decimal('255.3960236432025793')), (1994, 'American Airlines Inc.', Decimal('251.8753669602348546')), (1994, 'United Air Lines Inc.', Decimal('249.7894875164257556')), (1995, 'American Airlines Inc.', Decimal('255.5958998620145870')), (1995, 'United Air Lines Inc.', Decimal('249.8892707140129821')), (1996, 'American Airlines Inc.', Decimal('259.4866828087167070')), (1996, 'United Air Lines Inc.', Decimal('254.4695540994086623')), (1997, 'American Airlines Inc.', Decimal('258.0876380477377984')), (1997, 'United Air Lines Inc.', Decimal('251.8032812500000000')), (1998, 'American Airlines Inc.', Decimal('258.0664641093809343')), (1998, 'United Air Lines Inc.', Decimal('252.6085686465433301')), (1999, 'American Airlines Inc.', Decimal('255.7802051671732523')), (1999, 'United Air Lines Inc.', Decimal('253.6089953472341892')), (2000, 'American Airlines Inc.', Decimal('258.9638151425762045')), (2000, 'United Air Lines Inc.', Decimal('257.0314807617567042')), (2001, 'American Airlines Inc.', Decimal('256.1546910755148741')), (2001, 'United Air Lines Inc.', Decimal('252.5712865380791410')), (2002, 'American Airlines Inc.', Decimal('254.1414724209554581')), (2002, 'United Air Lines Inc.', Decimal('251.8172465394687617')), (2003, 'American Airlines Inc.', Decimal('253.8770234356124668')), (2003, 'United Air Lines Inc.', Decimal('253.1004739336492891')), (2004, 'American Airlines Inc.', Decimal('255.0936708860759494')), (2004, 'United Air Lines Inc.', Decimal('254.5048058439061899')), (2005, 'American Airlines Inc.', Decimal('258.5728230156691498')), (2005, 'United Air Lines Inc.', Decimal('256.1437941473259334')), (2006, 'American Airlines Inc.', Decimal('261.5054564812350279')), (2006, 'United Air Lines Inc.', Decimal('260.2032520325203252')), (2007, 'American Airlines Inc.', Decimal('258.9860279441117764')), (2007, 'United Air Lines Inc.', Decimal('258.9670359362334504')), (2008, 'American Airlines Inc.', Decimal('261.5440167114294241')), (2008, 'United Air Lines Inc.', Decimal('261.5937318630295995'))]

##### Problem 5.	For the years 2002 to 2005, what is the ratio of carrier delay to elapsed travel time for each airline?

In [3]:
conn = DBConn()
q = """
--sql
SELECT
	carriers."Description",
	total_flights,
 	(carrier_delay/actual_travel_time::FLOAT)*100 carrier_delay_to_actual_travel_time,
 	(carrier_delay/scheduled_travel_time::FLOAT)*100 carrier_delay_to_scheduled_travel_time
FROM(
	SELECT
		"UniqueCarrier",
		count(*) total_flights,
		sum(COALESCE("CarrierDelay",0)) carrier_delay,
		sum("ActualElapsedTime") actual_travel_time,
		sum("CRSElapsedTime") scheduled_travel_time
	FROM flights
	WHERE "Year" >= 2002 AND
		"Year" <= 2005 AND 
		"ActualElapsedTime" IS NOT NULL AND 
		"CRSElapsedTime" IS NOT NULL
	GROUP BY "UniqueCarrier"
 ) sub
 INNER JOIN carriers
 ON sub."UniqueCarrier" = carriers."Code"
 ORDER BY carrier_delay_to_scheduled_travel_time DESC
 ;
"""
ans_2 = conn.exec(q)
print(ans_2)
conn.close()

connection opened ...
... connection closed.

| Airline                       | total flights | Carrier Delay : Actual Time | Carrier Delay : Scheduled Time |
|-------------------------------|-----------|-----------------------|--------------------|
|"Atlantic Southeast Airlines"	|   827770	|   4.21220220668667	|   4.06304872823098 |
|"Comair Inc."	                |   728359	|   4.20157846108717	|   4.04609468406112 |
|"Skywest Airlines Inc."	    |   1349626	|   3.84558131214308	|   3.72074115921868 |
|"American Eagle Airlines Inc."	|   1820414	|   2.46834946023174	|   2.46059032565379 |
|"Independence Air"	            |   669687	|   2.36632082048272	|   2.29166907122446 |
|"Alaska Airlines Inc."	        |   630560	|   2.28936929565487	|   2.2566713906672  |
|"Northwest Airlines Inc."	    |   1970265	|   1.93795258614886	|   1.94206729498834 |
|"Hawaiian Airlines Inc."	    |   103799	|   1.90166462858953	|   1.87090721407012 |
|"Expressjet Airlines Inc."	    |   1074944	|   1.58973862735903	|   1.61998129264762 |
|"AirTran Airways Corporation"	|   495523	|   1.52400065410015	|   1.51625822955084 |
|"Frontier Airlines Inc."	    |   53014	|   1.52439546315891	|   1.50189618285352 |
|"America West Airlines Inc. (Merged with US Airways 9/05. Stopped reporting 10/07.)"	|   768813	|   1.41595955812445	|   1.39156594181809 |
|"Delta Air Lines Inc."	        |   2687168	|   1.22959865780283	|   1.22939021315388 |
|"US Airways Inc. (Merged with America West 9/05. Reporting for both starting 10/07.)"	|   1739194	|   1.18512829714521	|   1.16945804472995 |
|"American Airlines Inc."	    |   2926333	|   1.12376052134875	|   1.11191833067806 |
|"ATA Airlines d/b/a ATA"	    |   186642	|   1.01907731549993	|   1.02120585233741 |
|"Southwest Airlines Co."	    |   3896607	|   1.0534639463494	    |   1.00619784487027 |
|"United Air Lines Inc."	    |   2146623	|   1.00772248368922	|   0.99692587190968 |
|"JetBlue Airways"	            |   265622	|   1.00898021545331	|   0.996318009919548 |
|"Continental Air Lines Inc."	|   1213153	|   0.75328152598789	|   0.754607711958256 |

##### Problem 6.	What airline spent the most and least average time taxiing (in and out) at JFK in 2006?

In [8]:
conn = DBConn()
q = """
--sql
SELECT
	carriers."Description",
    COUNT(*) total_flights,
	AVG(COALESCE("TaxiIn",0) + COALESCE("TaxiOut",0)) avg_taxi
FROM flights
INNER JOIN carriers
ON flights."UniqueCarrier" = carriers."Code"
WHERE "Year" = 2006 AND
    "TaxiIn" IS NOT NULL AND 
    "TaxiOut" IS NOT NULL AND (
        "Dest" = 'JFK' OR
        "Origin" = 'JFK'
    )
        
GROUP BY carriers."Description"
ORDER BY avg_taxi DESC
;
"""
ans_2 = conn.exec(q)
print(ans_2)
conn.close()

connection opened ...
[('Expressjet Airlines Inc.', 698, Decimal('42.9255014326647564')), ('Continental Air Lines Inc.', 1949, Decimal('38.2755259107234479')), ('Atlantic Southeast Airlines', 1020, Decimal('37.8343137254901961')), ('Comair Inc.', 31594, Decimal('37.4692030132303602')), ('Delta Air Lines Inc.', 25517, Decimal('37.3822941568366187')), ('US Airways Inc. (Merged with America West 9/05. Reporting for both starting 10/07.)', 5050, Decimal('34.0889108910891089')), ('Northwest Airlines Inc.', 3744, Decimal('33.8344017094017094')), ('American Airlines Inc.', 24681, Decimal('33.6701916453952433')), ('United Air Lines Inc.', 9797, Decimal('31.2978462794733082')), ('Mesa Airlines Inc.', 4902, Decimal('30.1472868217054264')), ('JetBlue Airways', 96604, Decimal('30.1264957972754751')), ('American Eagle Airlines Inc.', 15271, Decimal('29.7719206338812128')), ('ATA Airlines d/b/a ATA', 4, Decimal('24.0000000000000000'))]
... connection closed.

| Carrier | Total Flights | Average Taxi Time |
| ---- | ---- | ---- |
| Expressjet Airlines Inc. | 698 | 42.9255014326647564 |
| Continental Air Lines Inc. | 1949 | 38.2755259107234479 |
| Atlantic Southeast Airlines | 1020 | 37.8343137254901961 |
| Comair Inc. | 31594 | 37.4692030132303602 |
| Delta Air Lines Inc. | 25517 | 37.3822941568366187 |
| US Airways Inc. (Merged with America West 9/05. Reporting for both starting 10/07.) | 5050 | 34.0889108910891089 |
| Northwest Airlines Inc. | 3744 | 33.8344017094017094 |
| American Airlines Inc. | 24681 | 33.6701916453952433 |
| United Air Lines Inc. | 9797 | 31.2978462794733082 |
| Mesa Airlines Inc. | 4902 | 30.1472868217054264 |
| JetBlue Airways | 96604 | 30.1264957972754751 |
| American Eagle Airlines Inc. | 15271 | 29.7719206338812128 |
| ATA Airlines d/b/a ATA | 4 | 24.0000000000000000 |

##### Problem 7.	What were the top 10 routes (origin and destination city names and airport codes) most likely to have a weather delay of over 10 minutes in December 2005?
*Only consider routes with at least 20 flights that month.*

In [64]:
conn = DBConn()
q = """
--sql
SELECT
    "Origin" AS "Origin Code",
	oa.city AS "Origin City",
    "Dest" AS "Dest Code",
	da.city AS "Dest City",
    delays AS "Total Delays",
    total_flights AS "Total Flights",
    delayed_perc AS "Percent Delayed"
FROM (
    SELECT
        "Origin",
        "Dest",
        delays,
        total_flights,
	    (delays/total_flights::FLOAT)*100 delayed_perc
    FROM (
        SELECT
            "Origin",
            "Dest",
            COUNT(COALESCE("WeatherDelay", 0) > 10 THEN 1 ELSE 0 END) AS delays,
            COUNT(*) AS total_flights
        FROM flights
        WHERE "Year" = 2005 ANd "Month" = 12
        GROUP BY "Dest", "Origin"
    ) sub2
    WHERE
        total_flights > 20
) sub1
INNER JOIN airports as da
ON sub1."Dest" = da.iata
INNER JOIN airports as oa
ON sub1."Origin" = oa.iata

ORDER BY delayed_perc desc
LIMIT 100
;
"""
ans_3 = conn.exec(q)
titles = [
    "Origin Code",
    "Origin City", 
    "Dest Code", 
    "Dest City",
    "Weather Delays",
    "Total Flights",
    "Percent Delayed"]
print(make_table(titles,ans_3))
conn.close()

connection opened ...
{0: 11, 1: 21, 2: 9, 3: 13, 4: 14, 5: 13, 6: 15}
| Origin Code | Origin City           | Dest Code | Dest City     | Weather Delays | Total Flights | Percent Delayed |
| ----------- | --------------------- | --------- | ------------- | -------------- | ------------- | --------------- |
| CLE         | Cleveland             | ABE       | Allentown     | 90             | 90            | 100.0           |
| CLT         | Charlotte             | ABE       | Allentown     | 31             | 31            | 100.0           |
| CVG         | Covington             | ABE       | Allentown     | 79             | 79            | 100.0           |
| DFW         | Dallas-Fort Worth     | ABI       | Abilene       | 210            | 210           | 100.0           |
| AMA         | Amarillo              | ABQ       | Albuquerque   | 58             | 58            | 100.0           |
| ATL         | Atlanta               | ABQ       | Albuquerque   | 114            | 114           | 100.0           |
| BWI         | Baltimore             | ABQ       | Albuquerque   | 31             | 31            | 100.0           |
| CVG         | Covington             | ABQ       | Albuquerque   | 56             | 56            | 100.0           |
| DAL         | Dallas                | ABQ       | Albuquerque   | 177            | 177           | 100.0           |
| DEN         | Denver                | ABQ       | Albuquerque   | 286            | 286           | 100.0           |
| DFW         | Dallas-Fort Worth     | ABQ       | Albuquerque   | 243            | 243           | 100.0           |
| ELP         | El Paso               | ABQ       | Albuquerque   | 84             | 84            | 100.0           |
| HOU         | Houston               | ABQ       | Albuquerque   | 62             | 62            | 100.0           |
| IAH         | Houston               | ABQ       | Albuquerque   | 190            | 190           | 100.0           |
| LAS         | Las Vegas             | ABQ       | Albuquerque   | 201            | 201           | 100.0           |
| LAX         | Los Angeles           | ABQ       | Albuquerque   | 152            | 152           | 100.0           |
| LBB         | Lubbock               | ABQ       | Albuquerque   | 31             | 31            | 100.0           |
| MAF         | Midland               | ABQ       | Albuquerque   | 31             | 31            | 100.0           |
| MCI         | Kansas City           | ABQ       | Albuquerque   | 85             | 85            | 100.0           |
| MCO         | Orlando               | ABQ       | Albuquerque   | 62             | 62            | 100.0           |
| MDW         | Chicago               | ABQ       | Albuquerque   | 62             | 62            | 100.0           |
| MSP         | Minneapolis           | ABQ       | Albuquerque   | 62             | 62            | 100.0           |
| OAK         | Oakland               | ABQ       | Albuquerque   | 61             | 61            | 100.0           |
| ORD         | Chicago               | ABQ       | Albuquerque   | 62             | 62            | 100.0           |
| PDX         | Portland              | ABQ       | Albuquerque   | 31             | 31            | 100.0           |
| PHX         | Phoenix               | ABQ       | Albuquerque   | 473            | 473           | 100.0           |
| SAN         | San Diego             | ABQ       | Albuquerque   | 84             | 84            | 100.0           |
| SEA         | Seattle               | ABQ       | Albuquerque   | 31             | 31            | 100.0           |
| SFO         | San Francisco         | ABQ       | Albuquerque   | 62             | 62            | 100.0           |
| SLC         | Salt Lake City        | ABQ       | Albuquerque   | 172            | 172           | 100.0           |
| STL         | St Louis              | ABQ       | Albuquerque   | 31             | 31            | 100.0           |
| TPA         | Tampa                 | ABQ       | Albuquerque   | 31             | 31            | 100.0           |
| TUS         | Tucson                | ABQ       | Albuquerque   | 59             | 59            | 100.0           |
| ATL         | Atlanta               | ABY       | Albany        | 118            | 118           | 100.0           |
| DFW         | Dallas-Fort Worth     | ACT       | Waco          | 209            | 209           | 100.0           |
| CEC         | Crescent City         | ACV       | Arcata/Eureka | 56             | 56            | 100.0           |
| SFO         | San Francisco         | ACV       | Arcata/Eureka | 242            | 242           | 100.0           |
| SMF         | Sacramento            | ACV       | Arcata/Eureka | 55             | 55            | 100.0           |
| CVG         | Covington             | ACY       | Atlantic City | 54             | 54            | 100.0           |
| ANC         | Anchorage             | ADQ       | Kodiak        | 30             | 30            | 100.0           |
| ATL         | Atlanta               | AEX       | Alexandria    | 87             | 87            | 100.0           |
| IAH         | Houston               | AEX       | Alexandria    | 133            | 133           | 100.0           |
| ATL         | Atlanta               | AGS       | Augusta       | 195            | 195           | 100.0           |
| ATL         | Atlanta               | ALB       | Albany        | 149            | 149           | 100.0           |
| BWI         | Baltimore             | ALB       | Albany        | 204            | 204           | 100.0           |
| CLE         | Cleveland             | ALB       | Albany        | 101            | 101           | 100.0           |
| CLT         | Charlotte             | ALB       | Albany        | 31             | 31            | 100.0           |
| CVG         | Covington             | ALB       | Albany        | 84             | 84            | 100.0           |
| DCA         | Arlington             | ALB       | Albany        | 64             | 64            | 100.0           |
| DTW         | Detroit               | ALB       | Albany        | 89             | 89            | 100.0           |
| EWR         | Newark                | ALB       | Albany        | 114            | 114           | 100.0           |
| IAD         | Chantilly             | ALB       | Albany        | 93             | 93            | 100.0           |
| LAS         | Las Vegas             | ALB       | Albany        | 31             | 31            | 100.0           |
| MCO         | Orlando               | ALB       | Albany        | 93             | 93            | 100.0           |
| MDW         | Chicago               | ALB       | Albany        | 62             | 62            | 100.0           |
| ORD         | Chicago               | ALB       | Albany        | 217            | 217           | 100.0           |
| PHL         | Philadelphia          | ALB       | Albany        | 53             | 53            | 100.0           |
| ABQ         | Albuquerque           | AMA       | Amarillo      | 57             | 57            | 100.0           |
| DAL         | Dallas                | AMA       | Amarillo      | 227            | 227           | 100.0           |
| DFW         | Dallas-Fort Worth     | AMA       | Amarillo      | 265            | 265           | 100.0           |
| IAH         | Houston               | AMA       | Amarillo      | 136            | 136           | 100.0           |
| LAS         | Las Vegas             | AMA       | Amarillo      | 31             | 31            | 100.0           |
| ADQ         | Kodiak                | ANC       | Anchorage     | 30             | 30            | 100.0           |
| BET         | Bethel                | ANC       | Anchorage     | 96             | 96            | 100.0           |
| CDV         | Cordova               | ANC       | Anchorage     | 30             | 30            | 100.0           |
| DEN         | Denver                | ANC       | Anchorage     | 62             | 62            | 100.0           |
| FAI         | Fairbanks             | ANC       | Anchorage     | 305            | 305           | 100.0           |
| JNU         | Juneau                | ANC       | Anchorage     | 92             | 92            | 100.0           |
| LAX         | Los Angeles           | ANC       | Anchorage     | 26             | 26            | 100.0           |
| MSP         | Minneapolis           | ANC       | Anchorage     | 79             | 79            | 100.0           |
| OME         | Nome                  | ANC       | Anchorage     | 60             | 60            | 100.0           |
| ORD         | Chicago               | ANC       | Anchorage     | 31             | 31            | 100.0           |
| OTZ         | Kotzebue              | ANC       | Anchorage     | 30             | 30            | 100.0           |
| PDX         | Portland              | ANC       | Anchorage     | 31             | 31            | 100.0           |
| PHX         | Phoenix               | ANC       | Anchorage     | 31             | 31            | 100.0           |
| SCC         | Deadhorse             | ANC       | Anchorage     | 27             | 27            | 100.0           |
| SEA         | Seattle               | ANC       | Anchorage     | 512            | 512           | 100.0           |
| SLC         | Salt Lake City        | ANC       | Anchorage     | 31             | 31            | 100.0           |
| ATL         | Atlanta               | APF       | Naples        | 87             | 87            | 100.0           |
| ABE         | Allentown             | ATL       | Atlanta       | 124            | 124           | 100.0           |
| ABQ         | Albuquerque           | ATL       | Atlanta       | 113            | 113           | 100.0           |
| ABY         | Albany                | ATL       | Atlanta       | 118            | 118           | 100.0           |
| AEX         | Alexandria            | ATL       | Atlanta       | 87             | 87            | 100.0           |
| AGS         | Augusta               | ATL       | Atlanta       | 194            | 194           | 100.0           |
| ALB         | Albany                | ATL       | Atlanta       | 148            | 148           | 100.0           |
| APF         | Naples                | ATL       | Atlanta       | 87             | 87            | 100.0           |
| ATW         | Appleton              | ATL       | Atlanta       | 92             | 92            | 100.0           |
| AUS         | Austin                | ATL       | Atlanta       | 178            | 178           | 100.0           |
| AVL         | Asheville             | ATL       | Atlanta       | 170            | 170           | 100.0           |
| AVP         | Wilkes-Barre/Scranton | ATL       | Atlanta       | 87             | 87            | 100.0           |
| AZO         | Kalamazoo             | ATL       | Atlanta       | 31             | 31            | 100.0           |
| BDL         | Windsor Locks         | ATL       | Atlanta       | 229            | 229           | 100.0           |
| BHM         | Birmingham            | ATL       | Atlanta       | 260            | 260           | 100.0           |
| BMI         | Bloomington           | ATL       | Atlanta       | 123            | 123           | 100.0           |
| BNA         | Nashville             | ATL       | Atlanta       | 199            | 199           | 100.0           |
| BOI         | Boise                 | ATL       | Atlanta       | 31             | 31            | 100.0           |
| BOS         | Boston                | ATL       | Atlanta       | 466            | 466           | 100.0           |
| BQK         | Brunswick             | ATL       | Atlanta       | 119            | 119           | 100.0           |
| BTR         | Baton Rouge           | ATL       | Atlanta       | 211            | 211           | 100.0           |
| ATL         | Atlanta               | ABE       | Allentown     | 124            | 124           | 100.0           |

... connection closed.

##### Problem 8.	Flying Southwest, what is the year-over-year change in on-time travel rate from 2000 to 2007?

##### Problem 9.	What was the month-to-date on-time arrival rate for United for each date in September 2005?